<h2>Topic details</h2>
<%= @topic.title %>

<div class="input-field">
    <textarea class="materialize-textarea" readonly> <%= @topic.content %> </textarea>
    <textarea class="materialize-textarea" placeholder="Comment" id="comment-textarea"></textarea>
    <button class="btn add-comment">Add comment</button>
    <ul class="collection">
    </ul>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        window.createSocket(<%= @topic.id %>);
    });
</script>